In [41]:
import cycle_transformer
import imp
imp.reload(cycle_transformer)
import pandas as pd

WARNING: better_exceptions will only inspect code from the command line
         when using: `python -m better_exceptions'. Otherwise, only code
         loaded from files will be inspected!

In [42]:
cycle_transformer.main('BigData', result_dir='processed_transformer_dir', num_per_xlsx=2)

In [44]:
data=pd.read_excel('processed_transformer_dir/AAPL_2020_2020-AMZN_2020_2020.xlsx')
data

                code                date     open     high      low    close   volume
0     AAPL_2020_2020 2020-01-02 04:00:00   295.05   295.75   295.05   295.73    26138
1     AAPL_2020_2020 2020-01-02 05:00:00   295.75   296.05   295.75   296.00    15543
2     AAPL_2020_2020 2020-01-02 06:00:00   295.75   295.85   295.30   295.51    14890
3     AAPL_2020_2020 2020-01-02 07:00:00   295.50   296.18   295.13   296.10   134301
4     AAPL_2020_2020 2020-01-02 08:00:00   295.89   296.75   295.44   296.68   215866
...              ...                 ...      ...      ...      ...      ...      ...
4587  AMZN_2020_2020 2020-04-06 15:00:00  1978.95  1998.52  1975.00  1998.49  1513641
4588  AMZN_2020_2020 2020-04-06 16:00:00  1997.59  1997.59  1986.40  1987.99   134021
4589  AMZN_2020_2020 2020-04-06 17:00:00  1987.11  1987.47  1985.00  1986.00     5698
4590  AMZN_2020_2020 2020-04-06 18:00:00  1984.00  1987.00  1983.00  1983.00     4246
4591  AMZN_2020_2020 2020-04-06 19:00:00  1982.11  1990.00  1982.11  1990.00     4429

[4592 rows x 7 columns]

In [48]:
!python ../main.py \
--data_dir processed_transformer_dir\
--save_dir transformer_results/ \
--indicator all

making dir transformer_results !
solving xlsx file AAPL_2020_2020-AMZN_2020_2020.xlsx . . .
saving data into transformer_results/AAPL_2020_2020-AMZN_2020_2020.xlsx successfully
solving xlsx file GOOGL_2020_2020.xlsx . . .
saving data into transformer_results/GOOGL_2020_2020.xlsx successfully

  0%|          | 0/2 [00:00<?, ?it/s]E:\Pycharm\Workspace\ta-master\ta\trend.py:192: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (dip_mio[i]/trs[i])
E:\Pycharm\Workspace\ta-master\ta\trend.py:196: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (din_mio[i]/trs[i])

 50%|█████     | 1/2 [00:04<00:04,  4.28s/it]
100%|██████████| 2/2 [00:06<00:00,  3.68s/it]